@import './shared/css/reset';
@import './shared/css/full-card';

@import './shared/css/mixins';
@import './shared/css/variables';

.centered-image {
  // be sure to add a height attr to the element;
  object-fit: scale-down;
  object-position: center;
}

.card-selected {
  box-shadow: inset 0px 0px 0px 2px $primary !important;
}

.close-button {
  padding: 0.5rem;
  background: $primary;
  color: white;
  border-radius: 4px;
}

.clamp-1 {
  @include clamp-n(1);
}