@import './shared/css/reset';
@import './shared/css/full-card';

@import './shared/css/mixins';
@import './shared/css/variables';

.centered-image {
  // be sure to add a height attr to the element;
  object-fit: scale-down;
  object-position: center;
  width: 100%;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-selected {
  box-shadow: inset 0px 0px 0px 2px $primary !important;
}

.close-button {
  padding: 0.5rem;
  background: $primary;
  border-radius: 4px;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 10000;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
  span {
    color: white;
  }
}

.clamp-1 {
  @include clamp-n(1);
}

.p-sidebar-right {
  position: sticky;
  height: 100vh;
  width: calc(100% - 0.5rem) !important;
  margin-left: 0.5rem !important;
}